@page

<div id=containerAccesPage>
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You need to be Admin or a Manager to modify this page.</p>
</header>
