@model CarRentalManagementProject.Models.Cars19118070
<div id=containercars19118070create>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cars19118070</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarMake" class="control-label"></label>
                <input asp-for="CarMake" class="form-control" />
                <span asp-validation-for="CarMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarColor" class="control-label"></label>
                <input asp-for="CarColor" class="form-control" />
                <span asp-validation-for="CarColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarHorsePower" class="control-label"></label>
                <input asp-for="CarHorsePower" class="form-control" />
                <span asp-validation-for="CarHorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified19118070" class="control-label"></label>
                <input asp-for="LastModified19118070" class="form-control" />
                <span asp-validation-for="LastModified19118070" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
